In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('df_all_before_cleaning.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,4,5,10,12,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Remove Duplicates

In [3]:
duplicate = df[df.duplicated()]

In [4]:
duplicate

,ride_id,bike_id,member_type,start_lat,trip_duration,rideable_type,birth_year,start_time,data_year,start_station_name,gender,start_lng,end_station_id,end_lat,end_lng,start_station_id,end_time,end_station_name
17034385,8865457,2754.0,Customer,NaN,716,NaN,NaN,3/6/2016 13:53,2016,Mies van der Rohe Way & Chicago Ave,NaN,NaN,268,NaN,NaN,173,3/6/2016 14:05,Lake Shore Dr & North Blvd
17635590,11710838,142.0,Subscriber,NaN,1178,NaN,1989.0,9/4/2016 23:39:13,2016,Glenwood Ave & Morse Ave,Male,NaN,295,NaN,NaN,447,9/4/2016 23:58:50,Broadway & Argyle St
17637975,11707860,5221.0,Subscriber,NaN,1148,NaN,1989.0,9/4/2016 19:21:00,2016,Sheridan Rd & Noyes St (NU),Male,NaN,523,NaN,NaN,604,9/4/2016 19:40:07,Eastlake Ter & Rogers Ave
17650209,11693784,2639.0,Subscriber,NaN,366,NaN,1989.0,9/4/2016 12:06:52,2016,Lake Shore Dr & Belmont Ave,Male,NaN,117,NaN,NaN,334,9/4/2016 12:12:57,Wilton Ave & Belmont Ave
17656499,11686085,1813.0,Subscriber,NaN,571,NaN,1989.0,9/3/2016 20:53:18,2016,State St & Randolph St,Male,NaN,7,NaN,NaN,44,9/3/2016 21:02:48,Field Blvd & South Water St
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20737295,13763843,3687.0,Customer,NaN,1452,NaN,NaN,4/23/2017 14:48:29,2017,Lake Shore Dr & Monroe St,NaN,NaN,99,NaN,NaN,76,4/23/2017 15:12:41,Lake Shore Dr & Ohio St
20737710,13763403,3620.0,Customer,NaN,1003,NaN,NaN,4/23/2017 14:30:30,2017,Burnham Harbor,NaN,NaN,76,NaN,NaN,4,4/23/2017 14:47:13,Lake Shore Dr & Monroe St
20737730,13763383,5723.0,Customer,NaN,1041,NaN,NaN,4/23/2017 14:29:58,2017,Burnham Harbor,NaN,NaN,76,NaN,NaN,4,4/23/2017 14:47:19,Lake Shore Dr & Monroe St
20738412,13762620,4435.0,Customer,NaN,1830,NaN,NaN,4/23/2017 13:57:00,2017,Lake Park Ave & 47th St,NaN,NaN,4,NaN,NaN,267,4/23/2017 14:27:30,Burnham Harbor
20738423,13762609,3721.0,Customer,NaN,1883,NaN,NaN,4/23/2017 13:56:41,2017,Lake Park Ave & 47th St,NaN,NaN,4,NaN,NaN,267,4/23/2017 14:28:04,Burnham Harbor

In [5]:
df.drop_duplicates(inplace = True)

### Convert data type

In [6]:
from dateutil import parser

df['start_time'] = df['start_time'].apply(lambda x:parser.parse(x))
df['end_time'] = df['end_time'].apply(lambda x:parser.parse(x))

### Clean 'member_type'

In [7]:
df['member_type'].value_counts(dropna=False)

Subscriber    15912091
member         5833690
Customer       5331002
casual         3990174
Dependent          190
Name: member_type, dtype: int64

In [8]:
df[df['member_type']=='Dependent'].shape

(190, 18)

In [9]:
## Considering 190 of 31,067,208 data points has member type as dependent
## These data points can be droped.

df.drop(df[df['member_type']=='Dependent'].index,inplace=True)

In [10]:
df['member_type'].unique()

array(['member', 'casual', 'Customer', 'Subscriber'], dtype=object)

In [11]:
## Now it is time to change 'member_type' to boolean type

member_type_dic={'member':'member',
            'Subscriber':'member',
            'casual':'non_member',
            'Customer':'non_member'}

df.replace({'member_type':member_type_dic},inplace=True)

In [12]:
df.head()

,ride_id,bike_id,member_type,start_lat,trip_duration,rideable_type,birth_year,start_time,data_year,start_station_name,gender,start_lng,end_station_id,end_lat,end_lng,start_station_id,end_time,end_station_name
0,A847FADBBC638E45,NaN,member,41.8964,NaN,docked_bike,NaN,2020-04-26 17:45:14,2020,Eckhart Park,NaN,-87.6610,152.0,41.9322,-87.6586,86,2020-04-26 18:12:03,Lincoln Ave & Diversey Pkwy
1,5405B80E996FF60D,NaN,member,41.9244,NaN,docked_bike,NaN,2020-04-17 17:08:54,2020,Drake Ave & Fullerton Ave,NaN,-87.7154,499.0,41.9306,-87.7238,503,2020-04-17 17:17:03,Kosciuszko Park
2,5DD24A79A4E006F4,NaN,member,41.8945,NaN,docked_bike,NaN,2020-04-01 17:54:13,2020,McClurg Ct & Erie St,NaN,-87.6179,255.0,41.8679,-87.6230,142,2020-04-01 18:08:36,Indiana Ave & Roosevelt Rd
3,2A59BBDF5CDBA725,NaN,member,41.9030,NaN,docked_bike,NaN,2020-04-07 12:50:19,2020,California Ave & Division St,NaN,-87.6975,657.0,41.8992,-87.6722,216,2020-04-07 13:02:31,Wood St & Augusta Blvd
4,27AD306C119C6158,NaN,non_member,41.8902,NaN,docked_bike,NaN,2020-04-18 10:22:59,2020,Rush St & Hubbard St,NaN,-87.6262,323.0,41.9695,-87.6547,125,2020-04-18 11:15:54,Sheridan Rd & Lawrence Ave

In [13]:
df['member_type'].unique()

array(['member', 'non_member'], dtype=object)

In [14]:
df['member_type'].value_counts(dropna=False)

member        21745781
non_member     9321176
Name: member_type, dtype: int64

### Clean 'trip_duration'

In [15]:
df['trip_duration'].unique()

array([nan, 316.0, 64.0, ..., '162,136.0', '88,671.0', '64,681.0'],
      dtype=object)

In [16]:
df['trip_duration'].value_counts(dropna=False)

NaN         9823864
341.0         13908
352.0         13818
363.0         13810
328.0         13809
             ...
17315             1
15283             1
68943             1
77263             1
64,681.0          1
Name: trip_duration, Length: 62501, dtype: int64

In [17]:
df['total_seconds_cal']=(df['end_time']-df['start_time']).apply(lambda x:x.total_seconds())

In [18]:
df['trip_duration']=df['total_seconds_cal']

In [19]:
df['start_year']=df['start_time'].apply(lambda x:x.year)

In [20]:
df['start_month']=df['start_time'].apply(lambda x:x.month)

In [21]:
df.head()

,ride_id,bike_id,member_type,start_lat,trip_duration,rideable_type,birth_year,start_time,data_year,start_station_name,...,start_lng,end_station_id,end_lat,end_lng,start_station_id,end_time,end_station_name,total_seconds_cal,start_year,start_month
0,A847FADBBC638E45,NaN,member,41.8964,1609.0,docked_bike,NaN,2020-04-26 17:45:14,2020,Eckhart Park,...,-87.6610,152.0,41.9322,-87.6586,86,2020-04-26 18:12:03,Lincoln Ave & Diversey Pkwy,1609.0,2020,4
1,5405B80E996FF60D,NaN,member,41.9244,489.0,docked_bike,NaN,2020-04-17 17:08:54,2020,Drake Ave & Fullerton Ave,...,-87.7154,499.0,41.9306,-87.7238,503,2020-04-17 17:17:03,Kosciuszko Park,489.0,2020,4
2,5DD24A79A4E006F4,NaN,member,41.8945,863.0,docked_bike,NaN,2020-04-01 17:54:13,2020,McClurg Ct & Erie St,...,-87.6179,255.0,41.8679,-87.6230,142,2020-04-01 18:08:36,Indiana Ave & Roosevelt Rd,863.0,2020,4
3,2A59BBDF5CDBA725,NaN,member,41.9030,732.0,docked_bike,NaN,2020-04-07 12:50:19,2020,California Ave & Division St,...,-87.6975,657.0,41.8992,-87.6722,216,2020-04-07 13:02:31,Wood St & Augusta Blvd,732.0,2020,4
4,27AD306C119C6158,NaN,non_member,41.8902,3175.0,docked_bike,NaN,2020-04-18 10:22:59,2020,Rush St & Hubbard St,...,-87.6262,323.0,41.9695,-87.6547,125,2020-04-18 11:15:54,Sheridan Rd & Lawrence Ave,3175.0,2020,4

In [22]:
df['trip_duration'].value_counts(dropna=False)

360.0       526684
300.0       517492
420.0       513972
480.0       492722
540.0       459273
             ...
54606.0          1
55276.0          1
63168.0          1
32714.0          1
175616.0         1
Name: trip_duration, Length: 49543, dtype: int64

### Clean 'rideable_type'

In [23]:
df['rideable_type'].value_counts(dropna=False)

NaN              21243093
classic_bike      3554413
docked_bike       3270172
electric_bike     2999279
Name: rideable_type, dtype: int64

### Clean 'bike_id'

In [24]:
df['bike_id'].value_counts(dropna=False)

NaN       9823864
1445.0       5827
73.0         5781
410.0        5779
774.0        5745
           ...
6602.0          1
6603.0          1
6710.0          1
6649.0          1
6620.0          1
Name: bike_id, Length: 6526, dtype: int64

### Clean 'ride_id'

In [25]:
df['ride_id'].value_counts(dropna=False)

934AEDB1B6C094EC    2
901A1431D8CED7A5    2
10AE33C50AE4DC7D    2
038CAB4A84D9A56B    2
10C0DB0336A0CF6C    2
                   ..
2097771             1
2097772             1
2097773             1
2097774             1
064EC7698E4FF9B3    1
Name: ride_id, Length: 31066748, dtype: int64

In [26]:
df[df['ride_id']=='934AEDB1B6C094EC']

,ride_id,bike_id,member_type,start_lat,trip_duration,rideable_type,birth_year,start_time,data_year,start_station_name,...,start_lng,end_station_id,end_lat,end_lng,start_station_id,end_time,end_station_name,total_seconds_cal,start_year,start_month
2910617,934AEDB1B6C094EC,NaN,member,41.868968,496.0,docked_bike,NaN,2020-11-25 13:08:40,2020,Throop St & Taylor St,...,-87.659141,108.0,41.87184,-87.64664,19.0,2020-11-25 13:16:56,Halsted St & Polk St,496.0,2020,11
2986275,934AEDB1B6C094EC,NaN,member,41.868968,-1722581.0,docked_bike,NaN,2020-12-15 11:46:37,2020,Throop St & Taylor St,...,-87.659141,TA1307000121,41.87184,-87.64664,13139,2020-11-25 13:16:56,Halsted St & Polk St,-1722581.0,2020,12

In [27]:
df[df['ride_id']=='901A1431D8CED7A5']

,ride_id,bike_id,member_type,start_lat,trip_duration,rideable_type,birth_year,start_time,data_year,start_station_name,...,start_lng,end_station_id,end_lat,end_lng,start_station_id,end_time,end_station_name,total_seconds_cal,start_year,start_month
2913422,901A1431D8CED7A5,NaN,non_member,41.891578,168.0,docked_bike,NaN,2020-11-25 08:54:07,2020,Milwaukee Ave & Grand Ave,...,-87.648384,92.0,41.894556,-87.653449,84.0,2020-11-25 08:56:55,Carpenter St & Huron St,168.0,2020,11
3069796,901A1431D8CED7A5,NaN,non_member,41.891578,-1739755.0,docked_bike,NaN,2020-12-15 12:12:50,2020,Milwaukee Ave & Grand Ave,...,-87.648384,13196,41.894556,-87.653449,13033,2020-11-25 08:56:55,Carpenter St & Huron St,-1739755.0,2020,12

In [28]:
df[df['trip_duration']<0]

,ride_id,bike_id,member_type,start_lat,trip_duration,rideable_type,birth_year,start_time,data_year,start_station_name,...,start_lng,end_station_id,end_lat,end_lng,start_station_id,end_time,end_station_name,total_seconds_cal,start_year,start_month
2422,7C1E92200AEFF70E,NaN,member,41.8944,-12.0,docked_bike,NaN,2020-04-27 17:20:30,2020,St. Clair St & Erie St,...,-87.6227,91.0,41.8834,-87.6412,211,2020-04-27 17:20:18,Clinton St & Washington Blvd,-12.0,2020,4
2504,671BB1F73F4CD303,NaN,non_member,41.9408,-13.0,docked_bike,NaN,2020-04-20 16:51:18,2020,Lake Shore Dr & Belmont Ave,...,-87.6392,2.0,41.8765,-87.6205,334,2020-04-20 16:51:05,Buckingham Fountain,-13.0,2020,4
3136,502B972C6B1FCAE6,NaN,member,41.9080,-14.0,docked_bike,NaN,2020-04-12 19:09:54,2020,Clark St & Schiller St,...,-87.6315,289.0,41.9121,-87.6347,301,2020-04-12 19:09:40,Wells St & Concord Ln,-14.0,2020,4
3542,68E70FDF06F0A439,NaN,member,41.8794,-4.0,docked_bike,NaN,2020-04-29 17:37:11,2020,Dearborn St & Adams St,...,-87.6298,442.0,41.8491,-87.6951,37,2020-04-29 17:37:07,California Ave & 23rd Pl,-4.0,2020,4
8212,6EB323BCC83A9D1D,NaN,member,41.9756,-1.0,docked_bike,NaN,2020-04-05 15:46:12,2020,Francisco Ave & Foster Ave,...,-87.7014,163.0,41.9319,-87.6779,471,2020-04-05 15:46:11,Damen Ave & Clybourn Ave,-1.0,2020,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31061754,C2F71E40D52A0660,NaN,non_member,41.8899,-14.0,docked_bike,NaN,2020-03-18 15:12:18,2020,HQ QR,...,-87.6803,675.0,41.8899,-87.6803,675,2020-03-18 15:12:04,HQ QR,-14.0,2020,3
31061938,14AF5815838B9F2C,NaN,non_member,41.8899,-11.0,docked_bike,NaN,2020-03-13 08:38:14,2020,HQ QR,...,-87.6803,675.0,41.8899,-87.6803,675,2020-03-13 08:38:03,HQ QR,-11.0,2020,3
31063922,D94EF149247F3880,NaN,non_member,41.8899,-11.0,docked_bike,NaN,2020-03-19 10:24:16,2020,HQ QR,...,-87.6803,675.0,41.8899,-87.6803,675,2020-03-19 10:24:05,HQ QR,-11.0,2020,3
31064197,323CAC41316F59B2,NaN,non_member,41.8899,-11.0,docked_bike,NaN,2020-03-13 08:51:45,2020,HQ QR,...,-87.6803,675.0,41.8899,-87.6803,675,2020-03-13 08:51:34,HQ QR,-11.0,2020,3
31064503,476717BBABCAE518,NaN,non_member,41.8899,-11.0,docked_bike,NaN,2020-03-19 09:31:56,2020,HQ QR,...,-87.6803,675.0,41.8899,-87.6803,675,2020-03-19 09:31:45,HQ QR,-11.0,2020,3

In [29]:
df.drop(df[df['trip_duration'] <=0].index, inplace = True)

### Clean 'start_station_name'

In [30]:
df['start_station_name'].value_counts(dropna=False)

NaN                             937805
Streeter Dr & Grand Ave         441063
Lake Shore Dr & Monroe St       345040
Clinton St & Washington Blvd    324141
Theater on the Lake             315655
                                 ...
Austin Ave & Roscoe St               1
Avondale Ave & Addison St            1
Ashland Ave & 71st St                1
Ada St & 95th St                     1
Spaulding Ave & Foster Ave           1
Name: start_station_name, Length: 1272, dtype: int64

In [31]:
df[df['start_station_name']=='HQ QR']

,ride_id,bike_id,member_type,start_lat,trip_duration,rideable_type,birth_year,start_time,data_year,start_station_name,...,start_lng,end_station_id,end_lat,end_lng,start_station_id,end_time,end_station_name,total_seconds_cal,start_year,start_month
30784278,83A921BEF3BE183B,NaN,non_member,41.8899,2.0,docked_bike,NaN,2020-02-27 11:20:16,2020,HQ QR,...,-87.6803,675.0,41.8899,-87.6803,675,2020-02-27 11:20:18,HQ QR,2.0,2020,2
30784279,640B93AEBA2725D2,NaN,non_member,41.8899,2.0,docked_bike,NaN,2020-02-27 11:20:39,2020,HQ QR,...,-87.6803,675.0,41.8899,-87.6803,675,2020-02-27 11:20:41,HQ QR,2.0,2020,2
30784533,3485EA9EB52C8270,NaN,non_member,41.8899,3.0,docked_bike,NaN,2020-02-27 10:04:20,2020,HQ QR,...,-87.6803,675.0,41.8899,-87.6803,675,2020-02-27 10:04:23,HQ QR,3.0,2020,2
30784534,7926327328D7C62F,NaN,non_member,41.8899,3.0,docked_bike,NaN,2020-02-27 10:04:57,2020,HQ QR,...,-87.6803,675.0,41.8899,-87.6803,675,2020-02-27 10:05:00,HQ QR,3.0,2020,2
30784535,7FACDA7C9B5863DE,NaN,non_member,41.8899,3.0,docked_bike,NaN,2020-02-27 10:04:36,2020,HQ QR,...,-87.6803,675.0,41.8899,-87.6803,675,2020-02-27 10:04:39,HQ QR,3.0,2020,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31067154,1F760629999E6E2C,NaN,non_member,41.8899,3.0,docked_bike,NaN,2020-03-06 08:58:20,2020,HQ QR,...,-87.6803,675.0,41.8899,-87.6803,675,2020-03-06 08:58:23,HQ QR,3.0,2020,3
31067155,8F274E931C90228F,NaN,non_member,41.8899,3.0,docked_bike,NaN,2020-03-06 08:58:44,2020,HQ QR,...,-87.6803,675.0,41.8899,-87.6803,675,2020-03-06 08:58:47,HQ QR,3.0,2020,3
31067156,225698302AEDAD18,NaN,non_member,41.8899,2.0,docked_bike,NaN,2020-03-06 08:57:58,2020,HQ QR,...,-87.6803,675.0,41.8899,-87.6803,675,2020-03-06 08:58:00,HQ QR,2.0,2020,3
31067202,6F4D221BDDFD943F,NaN,non_member,41.8899,2.0,docked_bike,NaN,2020-03-10 10:40:27,2020,HQ QR,...,-87.6803,675.0,41.8899,-87.6803,675,2020-03-10 10:40:29,HQ QR,2.0,2020,3
31067203,ADDAA33CEBCAE733,NaN,non_member,41.8899,1.0,docked_bike,NaN,2020-03-10 10:40:06,2020,HQ QR,...,-87.6803,675.0,41.8899,-87.6803,675,2020-03-10 10:40:07,HQ QR,1.0,2020,3

In [32]:
df.drop(df[df['start_station_name']=='HQ QR'].index, inplace=True)

In [33]:
df['start_station_name'].isnull().sum()

937805

In [34]:
df[df['start_station_name'].isnull()]

,ride_id,bike_id,member_type,start_lat,trip_duration,rideable_type,birth_year,start_time,data_year,start_station_name,...,start_lng,end_station_id,end_lat,end_lng,start_station_id,end_time,end_station_name,total_seconds_cal,start_year,start_month
630367,60742256DFFFCA29,NaN,member,41.90,1640.0,electric_bike,NaN,2020-07-31 08:30:34,2020,NaN,...,-87.69,367.0,41.830704,-87.656085,NaN,2020-07-31 08:57:54,Racine Ave & 35th St,1640.0,2020,7
642029,EBBD4FE9C8A95116,NaN,member,41.90,1215.0,electric_bike,NaN,2020-07-29 19:02:25,2020,NaN,...,-87.69,374.0,41.898404,-87.686592,NaN,2020-07-29 19:22:40,Western Ave & Walton St,1215.0,2020,7
653657,976336C6499A7189,NaN,member,41.94,909.0,electric_bike,NaN,2020-07-30 22:02:45,2020,NaN,...,-87.65,251.0,41.967841,-87.649991,NaN,2020-07-30 22:17:54,Clarendon Ave & Leland Ave,909.0,2020,7
670853,EC549CDABDE45F98,NaN,member,41.92,354.0,electric_bike,NaN,2020-07-31 15:54:41,2020,NaN,...,-87.70,NaN,41.910000,-87.680000,NaN,2020-07-31 16:00:35,NaN,354.0,2020,7
670856,70F53BFE303499AC,NaN,member,41.91,423.0,electric_bike,NaN,2020-07-31 16:08:26,2020,NaN,...,-87.68,NaN,41.920000,-87.700000,NaN,2020-07-31 16:15:29,NaN,423.0,2020,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9396961,7ECC833BF4E39C9F,NaN,member,41.79,165.0,electric_bike,NaN,2022-05-05 10:58:07,2022,NaN,...,-87.60,NaN,41.790000,-87.600000,NaN,2022-05-05 11:00:52,NaN,165.0,2022,5
9396962,38B758934DCEA2F1,NaN,member,41.79,792.0,electric_bike,NaN,2022-05-12 07:22:19,2022,NaN,...,-87.60,NaN,41.790000,-87.600000,NaN,2022-05-12 07:35:31,NaN,792.0,2022,5
9396963,B2A5A515B94B1484,NaN,member,41.79,283.0,electric_bike,NaN,2022-05-12 14:15:54,2022,NaN,...,-87.60,NaN,41.800000,-87.600000,NaN,2022-05-12 14:20:37,NaN,283.0,2022,5
9396964,00DDB209B56F4570,NaN,member,41.90,588.0,electric_bike,NaN,2022-05-16 10:07:36,2022,NaN,...,-87.68,NaN,41.900000,-87.640000,NaN,2022-05-16 10:17:24,NaN,588.0,2022,5
9396965,692EDFE132111873,NaN,member,41.79,294.0,electric_bike,NaN,2022-05-12 15:19:21,2022,NaN,...,-87.60,NaN,41.790000,-87.600000,NaN,2022-05-12 15:24:15,NaN,294.0,2022,5

In [35]:
df.shape

(31051565, 21)

In [36]:
df.drop(df[df['start_station_name'].isnull()].index, inplace=True)

In [37]:
df.head()

,ride_id,bike_id,member_type,start_lat,trip_duration,rideable_type,birth_year,start_time,data_year,start_station_name,...,start_lng,end_station_id,end_lat,end_lng,start_station_id,end_time,end_station_name,total_seconds_cal,start_year,start_month
0,A847FADBBC638E45,NaN,member,41.8964,1609.0,docked_bike,NaN,2020-04-26 17:45:14,2020,Eckhart Park,...,-87.6610,152.0,41.9322,-87.6586,86,2020-04-26 18:12:03,Lincoln Ave & Diversey Pkwy,1609.0,2020,4
1,5405B80E996FF60D,NaN,member,41.9244,489.0,docked_bike,NaN,2020-04-17 17:08:54,2020,Drake Ave & Fullerton Ave,...,-87.7154,499.0,41.9306,-87.7238,503,2020-04-17 17:17:03,Kosciuszko Park,489.0,2020,4
2,5DD24A79A4E006F4,NaN,member,41.8945,863.0,docked_bike,NaN,2020-04-01 17:54:13,2020,McClurg Ct & Erie St,...,-87.6179,255.0,41.8679,-87.6230,142,2020-04-01 18:08:36,Indiana Ave & Roosevelt Rd,863.0,2020,4
3,2A59BBDF5CDBA725,NaN,member,41.9030,732.0,docked_bike,NaN,2020-04-07 12:50:19,2020,California Ave & Division St,...,-87.6975,657.0,41.8992,-87.6722,216,2020-04-07 13:02:31,Wood St & Augusta Blvd,732.0,2020,4
4,27AD306C119C6158,NaN,non_member,41.8902,3175.0,docked_bike,NaN,2020-04-18 10:22:59,2020,Rush St & Hubbard St,...,-87.6262,323.0,41.9695,-87.6547,125,2020-04-18 11:15:54,Sheridan Rd & Lawrence Ave,3175.0,2020,4

### Clean 'gender'

In [38]:
df['gender'].value_counts(dropna=False)

NaN       13765626
Male      12235600
Female     4112534
Name: gender, dtype: int64

### Clean 'data_year'

In [39]:
df['data_year'].value_counts(dropna=False)

2021    4168560
2017    3828985
2019    3817991
2018    3603075
2016    3595293
2020    3432393
2015    3183296
2014    2454634
2022    1269745
2013     759788
Name: data_year, dtype: int64

### Save to csv

In [40]:
df_save=df[['start_time','end_time',
            'rideable_type',
            'start_station_name','end_station_name',
            'start_lat','start_lng',
            'end_lat', 'end_lng',
            'trip_duration',
            'start_month',
            'data_year',
            'birth_year',
            'member_type']]

In [41]:
df_save.to_csv('df_after_clean.csv',index=False)